<h3>Olá, {{ organizador}} </h3>

<p>Você recebeu uma nova inscricao para o Meetup {{ meetup }}</p>
<p>Seguem os dados do inscrito:</p>
<ul>
  <li>Nome: {{user}}</li>
  <li>E-mail: {{email}}</li>
</ul>